.box-img{
    width: 100%;
    height: 80vh;
    background-image: url(./estacionamiento.png);
    background-size: cover;
}
.box-hijo{
   width: 100%;
   height: auto;;
   margin:0px auto;
   padding-top: 60vh;
   padding-left: 3vw;
   color: white;
}
#title{
    font-weight: bold;
}
.p-style{
    color: rgb(236, 242, 247);
    font-family: Herculanum, "Eras Light ITC", sans-serif;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.box-establecimiento{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(243, 243, 243);
    width: 80%;
    height: auto;
    font-family: 'eras-demi-itc-regular', sans-serif;
}

h3{
    font-family: 'eras-light-itc-regular', sans-serif;
    color: rgb(031, 031, 031);
}
